---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

My teaching spans undergraduate and graduate probability and statistics subjects in the School of Mathematics and Statistics, as well as quantitative methods and business decision subjects in the Faculty of Business and Economics. I develop course materials, lead tutorials, and provide feedback on assignments and examinations.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
